@page 
@model Test.Pages.ContainerPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>RediRND</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Name
            </th>
            <th>
              Stake
            </th>
            <th>
               Weight
            </th>
            <th>
                LocalStake
            </th>
            <th>
                Parent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Container) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Stake)
            </td>
            <td>
                @item.Weight)
            </td>
            <td>
                @item.LocalStake)
            </td>
            <td>
                @item.ParentId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
